<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2" xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:mobile="http://schemas.microsoft.com/appx/manifest/mobile/windows10" IgnorableNamespaces="uap mp rescap uap2 iot uap3 mobile">
  <Identity Name="007478c7-1d42-42a9-9543-7c77ec8c8a42" Publisher="CN=Dustin" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="007478c7-1d42-42a9-9543-7c77ec8c8a42" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>FileSystemAccessModifier</DisplayName>
    <PublisherDisplayName>Dustin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FileSystemAccessModifier.App">
      <uap:VisualElements DisplayName="FileSystemAccessModifier" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="With FileSystemAccessModifier you can adjust the access property of files and folders." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="documentsLibrary" />
    <rescap:Capability Name="musicLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <rescap:Capability Name="videosLibrary" />
    <rescap:Capability Name="removableStorage" />
    <uap:Capability Name="objects3D" />
    <uap3:Capability Name="remoteSystem" />
    <iot:Capability Name="systemManagement" />
    <rescap:Capability Name="broadFileSystemAccess" />
  </Capabilities>
</Package>